body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  p {
    text-align: justify;
  }
  .grid-box {
    width: calc(33.333% - 20px);
    border: 2px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: dotted;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  